$shadow-color: #e0f5ff;
$link-color: #28dc9a;
$special-color: #7efc5f;
$background-color: #93e5fa;
$output-color: #c2d9e3;
$input-color: #d7ebf4;
$primary-text-color: #e6e6e6;
$secondary-text-color: #2c2c2c;
$visibale-border-color: #9dd6e2;
$danger-color: #f16e7c;

$main-padding-size: 1rem;
$main-margin-size: 1rem;

$font-size: (
  "small": 1rem,
  "medium": 1.6rem,
  "large": 2rem,
);

$border-radius: (
  "small": 5px,
  /* ?? */ "medium": 10px,
);
